<a href="https://colab.research.google.com/github/prajwal-mv/Python_Practice/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

##Basics##

In [2]:
# Our first series
number_series = pd.Series([2, 3, 5, 6, 8])
print(number_series)

0    2
1    3
2    5
3    6
4    8
dtype: int64

In [5]:
# Same series but with different indices
number_series = pd.Series([2, 3, 5, 6, 8],index=['a', 'b', 'd','e','f'],name='Number')
print(number_series)

a    2
b    3
d    5
e    6
f    8
Name: Number, dtype: int64

In [8]:
# Creating our first DataFrame
some_2D_array = np.random.randint(4, 6,(3,4))
first_dataframe = pd.DataFrame(some_2D_array , columns=['Akshay','Devashish','Divy','Monika'])
first_dataframe

   Akshay  Devashish  Divy  Monika
0       5          5     5       5
1       4          4     4       5
2       4          4     4       5

In [9]:
# Initialize list of lists 
list_of_lists = [['Amar', 10], ['Akbar', 15], ['Anthony', 14]]
  
# Create the pandas DataFrame 
df = pd.DataFrame(list_of_lists, columns = ['Name', 'Age']) 
  
# Print dataframe
df

      Name  Age
0     Amar   10
1    Akbar   15
2  Anthony   14

In [10]:
# Store the data in a dictionary
series_dict = {'First Series' : pd.Series([10, 20, 30, 40]), 
              'Second Series' : pd.Series([10, 20, 30, 40])} 
  
# Create the Dataframe using the dictionary
df = pd.DataFrame(series_dict) 
  
# Print the dataframe
df

   First Series  Second Series
0            10             10
1            20             20
2            30             30
3            40             40

In [11]:
# Store the data in a dictionary 
employee_dict = {'Employee Name':['Rajeev', 'Sumit', 'Aviral'], 'Income':[200000, 140000, 90000]} 
  
# Create DataFrame 
employee_df = pd.DataFrame(employee_dict) 
  
# Print the dataframe
employee_df

  Employee Name  Income
0        Rajeev  200000
1         Sumit  140000
2        Aviral   90000

In [12]:
# List of names
actor_names = ['Ryan Reynolds', 'Benedict Cumberbatch', 'Robert Downey Jr.', 'Chris Evans']  
    
# List of their ages 
actor_ages = [48,62,54,np.nan ]  
    
# Get the list of tuples by zipping the two lists together   
list_of_tuples = list(zip(actor_names, actor_ages))  
      
# Converting the list of tuples into pandas Dataframe 
actor_df = pd.DataFrame(list_of_tuples, columns = ['Name', 'Age'])
     
# Print the dataframe 
actor_df

                   Name   Age
0         Ryan Reynolds  48.0
1  Benedict Cumberbatch  62.0
2     Robert Downey Jr.  54.0
3           Chris Evans   NaN

In [13]:
list(actor_df.index)

[0, 1, 2, 3]

In [14]:
list(actor_df.columns)

['Name', 'Age']

In [15]:
actor_df.rename(columns = {'Name':'Actor_Name','Age': 'Actor_Age'})

             Actor_Name  Actor_Age
0         Ryan Reynolds       48.0
1  Benedict Cumberbatch       62.0
2     Robert Downey Jr.       54.0
3           Chris Evans        NaN

In [22]:
actor_df['act_3_age'] = actor_df['Age'] * 3

In [23]:
actor_df

                   Name   Age  act_3_age
0         Ryan Reynolds  48.0      144.0
1  Benedict Cumberbatch  62.0      186.0
2     Robert Downey Jr.  54.0      162.0
3           Chris Evans   NaN        NaN

In [24]:
actor_df.isnull().sum()

Name         0
Age          1
act_3_age    1
dtype: int64

In [30]:

actor_df['Age'].fillna('Not Present',inplace = True)

In [31]:
actor_df

                   Name          Age    act_3_age
0         Ryan Reynolds         48.0        144.0
1  Benedict Cumberbatch         62.0        186.0
2     Robert Downey Jr.         54.0        162.0
3           Chris Evans  Not Present  Not Present

##Advanced##